<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'

import IconInputComponent from '@/components/IconInputComponent.vue'
import ButtonComponent from '@/components/ButtonComponent.vue'

const router = useRouter()
let usr = ref('')
let pass = ref('')

const login = () => {
  let usuarios = [
    { usuario: 'andres', contrasenia: 'andres' },
    { usuario: 'josorio', contrasenia: 'josorio' },
    { usuario: 'test', contrasenia: 'test' }
  ]
  let usuario = usuarios.filter(
    (item) => item.usuario == usr.value && item.contrasenia == pass.value
  )
  if (usuario.length > 0) {
    router.push('/dashboard')
  } else {
    alert('credenciales incorrectas')
  }
}
</script>

<template>
  <div class="login">
    <div>
      <div class="icon-login">
        <div>
          <box-icon size="3em" color="gray" name="user"></box-icon>
        </div>
      </div>
      <h3>Iniciar Sesion</h3>
      <div class="input-box">
        <div class="inputContainer">
          <box-icon class="icon" color="white" name="user"></box-icon>
          <input placeholder="Usuario" type="text" v-model="usr" />
        </div>
        <div class="inputContainer">
          <box-icon class="icon" color="white" name="lock"></box-icon>
          <input placeholder="Contraseña" type="password" v-model="pass" />
        </div>
      </div>
      <div class="btn-box">
        <ButtonComponent class="boton-login" @click="login">LOGIN</ButtonComponent>
      </div>
    </div>
  </div>
</template>

<style>
.inputContainer {
  margin: 0.5em 0;
}

input {
  padding: 0.5em 0.5em 0.5em 2.5em;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  font-size: 1.2em;
  color: white;
  cursor: text;
}

.icon {
  position: relative;
  top: 0.3em;
  left: 2em;
}

.login {
  background-image: url('@/assets/background.jpg');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.login > div {
  background-color: black;
  padding: 2em;
  border-radius: 20px;
}

.icon-login {
  display: flex;
  justify-content: center;
}

.icon-login > div {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  position: relative;
  left: -0.8em;
}

.btn-box {
  padding: 0 0.5em;
}

.boton-login {
  margin-top: 2em;
}

h3 {
  margin: 1em 0;
}
</style>
