<template>
  <div class="navbar">
    <span><img width="60" height="60" src="@/assets/logo.png" alt="" /></span>
    <div>Navbar</div>
  </div>
</template>

<style scoped>
.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 2em;
  display: flex;
  align-items: center;
}
</style>
