<script setup>
import NavbarContainer from '@/components/container/NavbarContainer.vue'
import SidebarContainer from '@/components/container/SidebarContainer.vue'
import SectionContainer from '@/components/container/SectionContainer.vue'
</script>

<template>
  <div class="container">
    <div class="navbar">
      <NavbarContainer />
    </div>
    <div class="content">
      <div class="sidebar">
        <SidebarContainer />
      </div>
      <div class="section">
        <SectionContainer />
      </div>
    </div>
  </div>
</template>

<style>
.container {
  background-image: url('@/assets/background.jpg');
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.content {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
