<template>
  <div class="ButtonContainer">
    <button type="button">
      <slot></slot>
      <span></span>
    </button>
  </div>
</template>

<style scoped>
.inputContainer {
  margin: 1em 0;
}

button {
  width: 100%;
  font-weight: bold;
  padding: 1em;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  overflow: hidden;
}

button span {
  position: relative;
  display: block;
  left: -5.5em;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: -1em;
  height: 1.5em;
  width: 0em;
  transform: rotate(25deg);
  box-shadow: 0 0 1em 0.5em rgba(255, 255, 255, 0.5);
}

button:hover span {
  background-color: rgba(255, 255, 255, 0.5);
  left: 25.5em;
  transition-property: all;
  transition-duration: 2s;
}

button:hover {
  cursor: pointer;
}
</style>
