<script setup>
defineProps({
  icon: {
    type: String,
    required: true
  },
  text: {
    type: String,
    required: true
  },
  type: {
    type: String,
    default: 'text'
  }
})
</script>

<template>
  <div class="inputContainer">
    <box-icon class="icon" color="white" :name="icon"></box-icon>
    <input :placeholder="text" :type="type" />
  </div>
</template>

<style scoped>
.inputContainer {
  margin: 0.5em 0;
}

input {
  padding: 0.5em 0.5em 0.5em 2.5em;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  font-size: 1.2em;
  color: white;
  cursor: text;
}

.icon {
  position: relative;
  top: 0.3em;
  left: 2em;
}
</style>
